# general modules
django==4.2.14
djangorestframework==3.14.0
python-decouple
Pillow
coreapi
openapi-codec

# third party modules
markdown
django-filter==23.5
drf-yasg[validation]==1.21.7

# deployment module