# general modules
django==4.2.14
djangorestframework==3.14.0
python-decouple==3.8
Pillow
coreapi
openapi-codec
django-widget-tweaks

# third party modules
markdown==3.4.4
django-filter==23.5
drf-yasg[validation]==1.21.7
djangorestframework-simplejwt

# deployment module


# email third party modules
django-mail-templated



# refactoring and test
black
autoflake
flake8
pytest
pytest-django
Faker

# background process and cache
celery
redis
django_celery_beat